<tr>
  <td><%= user.memid %></td>
  <td><%= user.firstname %></td>
  <td><%= user.lastname %></td>
  <td><%= user.date %></td>
  <td><%= user.month %></td>
  <td><%= user.year %></td>
  <td><%= user.timeofbirth %></td>
  <td><%= user.birthdate %></td>
  <td><%= user.moonyear %></td>
  <td><%= user.email %></td>
  <td><%= user.phone %></td>
  <td><%= user.lineid %></td>
  <td><%= link_to 'ข้อมูล', user_path(user) %></td>
  <td>| <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %></td>
</tr>
