<% provide(:title, "All users") %>
<h1>Listing users</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>memberid</th>
      <th>firstname</th>
      <th>lastname</th>
      <th>date</th>
      <th>month</th>
      <th>year</th>
      <th>timeofbirth</th>
      <th>birthdate</th>
      <th>moonyear</th>
      <th>email</th>
      <th>phone</th>
      <th>lineid</th>
    </tr>
  </thead>

<% @users.each do |user| %>
  <tr>
    <td><%= user.memid %></td>
    <td><%= user.firstname %></td>
    <td><%= user.lastname %></td>
    <td><%= user.date %></td>
    <td><%= user.month %></td>
    <td><%= user.year %></td>
    <td><%= user.timeofbirth %></td>
    <td><%= user.birthdate %></td>
    <td><%= user.moonyear %></td>
    <td><%= user.email %></td>
    <td><%= user.phone %></td>
    <td><%= user.lineid %></td>
    <td><%= link_to 'ข้อมูล', user_path(user) %></td>
  </tr>
<% end %>
</table>
